*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures


EZ-Eats/.idea/codeStyleSettings.xml

EZ-Eats/.idea/gradle.xml

EZ-Eats/.idea/misc.xml

EZ-Eats/.idea/vcs.xml
